<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <style>
      body {
        font-family: system-ui, sans-serif;
        max-width: 60ch;
        margin: 4rem auto;
        padding: 0 1rem;
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h1 style="margin: 0">{{ page.title }}</h1>

      {% if allow_riff %}
      <a
        href="http://localhost:5173/r/{{ page.handle }}/{{ page.slug }}"
        style="
          font-size: 0.8em;
          text-decoration: none;
          color: inherit;
          border: 1px solid #ccc;
          padding: 0.3em 0.6em;
          border-radius: 4px;
          transition: background 0.2s ease;
        "
        onmouseover="this.style.background='#f4f4f4'"
        onmouseout="this.style.background='none'"
      >
        Riff this page
      </a>
      {% endif %}
    </div>

    {% if page.byline or page.created_at %}
    <p>
      <small>
        <em>
          {% if page.byline %}posted by {{ page.byline }}{% endif %} {% if
          page.created_at %} | {{ page.created_at | datetimeformat }}{% endif %}
        </em>
      </small>
    </p>
    {% endif %}
    <div>{{ page.revision.content | markdown | safe }}</div>
    {% if page.license %}
    <hr />
    <footer>
      <p>
        <small><em>Licensed under {{ page.license }}</em></small>
      </p>
    </footer>
    {% endif %}
  </body>
</html>
