{% extends "base.html" %} {% block title %}{{ post.title if post.title else
"Mosaic" }}{% endblock %}{% block css %}<link
  rel="stylesheet"
  href="/static/post.css"
/>
<link rel="stylesheet" href="/static/editor.css" />{%endblock %} {% block
content %}
<article class="post">
  <section class="post-section">
    <div>
      <div class="post-content">
        {{ post.revision.content | markdown | safe }}
      </div>
      <div class="post-meta">
        <div>
          by
          <a href="/@{{post.handle}}">
            {{ post.byline if post.byline else '@' + post.handle }}
          </a>
          · {{ post.updated_at | datetimeformat }}
        </div>
      </div>
    </div>
  </section>
</article>
{% endblock %}
